In [16]:
import pandas as pd
import json
import numpy as np

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [17]:
# Get the backers_info from the crowdfunding_info sheet. 
#pd.set_option('max_colwidth', 400)
#backers_df = pd.read_csv('backer_info.csv')
#backers_df.head()

In [18]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [19]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [20]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [21]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_df = pd.read_csv('backer_info.csv')
backers_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [22]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_df['backer_id'] = backers_df["backer_info"].str.extract(r'(\S\S\d{3})')
backers_df.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [23]:
isinstance(backers_df, pd.DataFrame)

True

In [24]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_df['cf_id'] = backers_df["backer_info"].str.extract(r'(\s\d{2,4})')
backers_df.head()

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563

In [25]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_df['name'] = backers_df["backer_info"].str.extract(r'([a-zA-Z]+\s[a-zA-Z]+)')
backers_df.head()

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt

In [26]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_df['email'] = backers_df["backer_info"].str.extract(r'(\w+@\w+\.\w+)')
backers_df.head(100)

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
...,...,...,...,...,...
95,"{""backer_id"": ""jd905"", ""cf_id"": 65, ""name"": ""Jolie Daugherty"", ""email"": ""jdaugherty@gmail.com""}",jd905,65,Jolie Daugherty,jdaugherty@gmail.com
96,"{""backer_id"": ""dd770"", ""cf_id"": 65, ""name"": ""Detta Dressler"", ""email"": ""ddressler@yahoo.com""}",dd770,65,Detta Dressler,ddressler@yahoo.com
97,"{""backer_id"": ""cv698"", ""cf_id"": 238, ""name"": ""Clifton Villette"", ""email"": ""cvillette@outlook.com""}",cv698,238,Clifton Villette,cvillette@outlook.com
98,"{""backer_id"": ""cn307"", ""cf_id"": 968, ""name"": ""Cythia Netti"", ""email"": ""cnetti@outlook.com""}",cn307,968,Cythia Netti,cnetti@outlook.com
99,"{""backer_id"": ""eb198"", ""cf_id"": 1572, ""name"": ""Elsbeth Butler"", ""email"": ""ebutler@yahoo.com""}",eb198,1572,Elsbeth Butler,ebutler@yahoo.com

In [27]:
# Create a new DataFrame with the appropriate columns.
final_df = backers_df.drop("backer_info", axis = 1)
final_df.head()

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com

In [28]:
# Export the DataFrame as a CSV file using encoding='utf8'.
final_df.to_csv("backer_data.csv", index = False, encoding = 'utf8' )

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [29]:
# Check data types.
final_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [30]:
# Convert cf_id to an integer if necessary.
final_df['cf_id'] = final_df['cf_id'].astype(str).astype(np.int64)
final_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [31]:
# Split the "name" column into "first_name" and "last_name" columns.
final_df[['first_name', 'last_name']] = final_df.name.str.split(" ", expand = True)
final_df.head()

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [32]:
#  Drop the name column
del final_df['name']
final_df.head()

  backer_id  cf_id                  email first_name last_name
0     av166    968      avincent@live.com     Angelo   Vincent
1     ha127    563     harnold@yandex.com     Hubert    Arnold
2     lg794     65     lgoulet@yandex.com      Loris    Goulet
3     tb566    563  tbrunelli@outlook.com    Teodora  Brunelli
4     lh506    563         lhunt@live.com      Lexie      Hunt

In [33]:
# Reorder the columns
final_df = final_df[['backer_id', 'cf_id', 'first_name', 'last_name', 'email']]
final_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [34]:
# Export the DataFrame as a CSV file using encoding='utf8'.
final_df.to_csv("backers.csv", index = False, encoding = 'utf8' )